<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    
</head>

<style>
    body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .heading{
       display: flex;
       justify-content: center;
       align-items: center;
       color: #1Db954;
       font-weight: bold;
    }
</style>

<body>
    <h1 class="heading">Confirmation of details</h1>


</body>
</html>